<div class="flex items-center justify-center h-screen">
  <form class="w-1/6 p-5 bg-white rounded-md shadow-md" [formGroup]="form" (ngSubmit)="login()">
    <div class="py-4">
      <h1 class="py-2 font-bold">
        Login
      </h1>
      <h6 class="text-base text-slate-600">
        Login to your account
      </h6>
    </div>


    <mat-form-field apperance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Password</mat-label>
      <input matInput type="{{ hide ? 'password' : 'text'}}" formControlName="password" placeholder="Password" />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hide = !hide" matSuffix>
        {{ hide ? 'visibility_off':'visibility'}}
      </mat-icon>
    </mat-form-field>

    <a class="text-blue-500" routerLink="/forgot-password">Forgot Password?</a>

    <button type="submit" [disabled]="!form.valid"
      class="w-full px-3 py-2 font-bold text-white bg-purple-700 border rounded-md border-slate-200 disabled:bg-purple-400">
      Login
    </button>

    <div class="my-5">
      <span class="text-slate-600">
        Don't have an account?
      </span>
      <a class="text-purple-700" [routerLink]="['/register']">Register</a>
    </div>
  </form>
</div>
