<div>
  <mat-toolbar color="primary" style="padding:10px 50px">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">Management</a>
    <div class="w-full"></div>

    @if(isLoggedIn()){
    <div *ngIf="authService.getUserDetail() as userDetail">
      <div class="flex items-center gap-5">
        <a [matMenuTriggerFor]="menu"
          class="flex items-center cursor-pointer gap2">
          <div
            class="flex items-center justify-center w-5 h-5 p-5 font-bold text-white bg-red-400 rounded-full shadow-md">
            {{userDetail!.fullName[0].toUpperCase()}}
          </div>
          <div class="flex flex-col text-black">
            <h1 class="p-0 m-0 font-medium">
              {{userDetail?.fullName}}
            </h1>
            <p class="p-0 m-0 text-xs font-medium">
              {{userDetail?.roles}}
            </p>
          </div>
        </a>
        <mat-menu #menu="matMenu">
          <button [routerLink]="['account',1]" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>
              View Profile
            </span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>
              logout
            </mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <div>
          <a *ngIf="userDetail?.roles.includes('Admin')" mat-button
            routerLink="/users">
            <mat-icon>groups</mat-icon>
            User
          </a>
          <a *ngIf="userDetail?.roles.includes('Admin')" mat-button
            routerLink="/roles">
            <mat-icon>settings</mat-icon>
            Role
          </a>
        </div>
      </div>
    </div>
    }@else{
    <div>
      <div class="flex items-center gap5">
        <a mat-button routerLink="/login">
          Login
        </a>

        <a mat-button routerLink="/register">
          Register
        </a>

      </div>
    </div>
    }

  </mat-toolbar>
</div>
