<div class="flex items-center justify-center h-screen">
  <form class="w-1/5 p-5 bg-white rounded-md shadow-md" [formGroup]="registerForm" (ngSubmit)="register()">

    @for(error of errors; track error){
    <div class="relative flex flex-col gap-2 mb-2 text-red-400 bg-red-100 border border-red-400 rounded-md px4 py4">
      <div class="p-2 text-xs">{{error.description}}</div>
    </div>
    }
    <div class="py-4">
      <h1 class="py-2 font-bold text-left">
        Register
      </h1>
      <h6 class="text-base text-slate-600">
        Create your account
      </h6>
    </div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label> Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Full Name" formControlName="fullName">
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        @for (item of roles$ | async; track item) {
        <mat-option [value]="item.name">{{item.name}}</mat-option>
        }

      </mat-select>
      <mat-icon matPrefix>groups</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label> Password</mat-label>
      <input matInput formControlName="password" type="{{passwordHide ? 'password':'text'}}" placeholder="Password">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="passwordHide = !passwordHide" matSuffix>{{passwordHide ?
        'visibility_off':'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" matInput type="{{confirmPasswordHide ? 'password':'text'}}"
        placeholder="Confirm Password">
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="confirmPasswordHide = !confirmPasswordHide" matSuffix>{{confirmPasswordHide ?
        'visibility_off':'visibility'}}</mat-icon>
    </mat-form-field>
    <span class="text-red-600"
      *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.dirty && registerForm.get('confirmPassword')?.touched">
      Passwords do not match.
    </span>
    <button type="submit" [disabled]="!registerForm.valid" class="w-full px-3 py-2 text-white bg-purple-700 border-collapse rounded-md border-slate-200 disabled:bg-purple-400">
      Register
    </button>

    <div class="my-4">
      <span class="text-slate-600">
        Already have an account?
      </span>
      <a href="" class="text-purple-700" [routerLink]="['/login']">Login</a>
    </div>

  </form>
</div>
